.card {
    display: grid;
    grid-template:
                            "title title btn"
                            "photo tags tags";
    grid-template-columns: auto 1fr;
    gap: 20px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.tags {
    padding: 0.5em;
    grid-area: tags;
}

.tag {
    display: inline-block;
    padding: 0.25em 1em;
    margin: 0.25em 0.5em;
    color: white;
    border-radius: 9999px;
    font-size: 0.9em;
    text-align: left;
    font-weight: bold;
}

.card h2 {
    margin: 0;
    grid-area: title;
}

.card img {
    display: block;
    height: 200px;
    width: 200px;
    justify-self: start;
    align-self: start;
    grid-area: photo;
}

.card button {
    grid-area: btn;
    align-self: start;
    justify-self: start;
}

@media (max-width: 600px) {
    .card {
        grid-template:
      "title title btn"
      "photo tags tags";
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
    }

    .card img {
        margin: 0 auto;
        height: 100px;
        width: 100px;
    }

    .tag {
        font-size: 0.75em;
        padding: 0.25em 0.5em;
    }

    .card button {
        font-size: 0.9em;
        padding: 0.4em 0.8em;
        line-height: 1.2;
    }

    .card {
        gap: 12px;
        padding: 12px;
    }
}

.card button:hover {
    background-color: #ACCFFF;
    color: white;
    cursor: pointer;
}